<% provide(:title, "Log in") %>
<h1><%= t '.title' %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:session, url: login_path) do |f| %>
			<strong><%= t('.form.email') %></strong>
			<%= f.email_field :email, class: 'form-control' %>

			<strong><%= t('.form.password') %></strong>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.submit t('.button.confirm'), class: 'btn btn-primary' %>
		<% end %>

		<p> <%= t '.new.question' %> <%= link_to t('.signup.title'), signup_path %><br>
		<%= t '.forgotten.question' %> <%= link_to t('.forgotten.title'), '#' %></p>
	</div>
</div>
