<% provide(:title, 'Sign up') %>
<h1> <%= t '.title' %> </h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user)  do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation, t('.password.confirmation') %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>

			<%= f.submit t('.button.confirm'), class: "btn btn-primary" %>
		<% end %>
		<p> <%= t '.login.question' %> <%= link_to t('.login.title'), login_path %> </p>
	</div>
</div>
