<div id="new_box">
    <div id="create_new_dialog">
		<a class="boxclose" onclick="newBoxClose()"></a>

        <b><%= create_title %></b><br>
        <i><%= warning_text %></i>

        <%= form_for obj do |f| %>
            <%= render path_to_form, f: f %>
        <% end %>

    </div>
</div>
