<% objs.each do |obj| %>
<div id="<%= "edit_box_" + obj.id.to_s %>" class="edit_box" >
    <div id="<%= "edit_dialog_" + obj.id.to_s %>" class="edit_dialog">
		<a class="boxclose" onclick="<%= "editBoxClose(" + obj.id.to_s + ")" %>"></a>

		<b><%= edit_title %></b><br>
        <i><%= warning_text %></i>

        <%= form_for obj do |f| %>
            <%= render path_to_form, f: f %>
        <% end %>

    </div>
</div>
<% end %>
