<%= render 'shared/error_explanation', obj1: obj1, obj2: obj2 %>

<%= render 'shared/default_page_head', title: t(translation_base + '.title'), button_name: t(translation_base + '.button.new') %>

<div id="list_fixed">
    <table>
        <%= yield %>
    </table>
</div>

<%= render 'shared/default_page_newbox', create_title: t(translation_base + '.create.title'), warning_text: t(translation_base + '.warning'), obj: obj1, path_to_form: path_to_form %>

<%= render 'shared/default_page_edit_box', objs: objs, edit_title: t(translation_base + '.edit.title'), warning_text: t(translation_base + '.warning'), path_to_form: path_to_form %>
