<% if obj1 != nil &&  obj1.errors.any? %>
	<%= render 'shared/error_explanation_item', obj: obj1 %>
<% end %>
<% if obj2 != nil && obj2.errors.any? %>
	<%= render 'shared/error_explanation_item', obj: obj2 %>
<% end %>
