
<p>
	 <%= f.label :name %> * <br />
	 <%= f.text_field :name, :required => true %>
</p>
<p>
	 <%= f.label :description %> <br />
	 <%= f.text_area :description %>
</p>
<p>
	 <%= f.label :url_image %> <br />
	 <%= f.text_field :url_image %>
</p>
<p>
	 <%= f.submit %>
</p>
