<%= render :layout => 'shared/default_page', :locals => { :translation_base => 'product_categories.index', :obj1 => @product_category_new, :obj2 => @product_category_edit, :objs => @product_categories, :path_to_form => 'product_categories/form' } do %>

    <tr>
        <th><%= t 'product_categories.index.name' %></th>
        <th><%= t 'product_categories.index.description' %></th>
		<th></th>
		<th></th>
    </tr>

    <% @product_categories.each do |product_category| %>
        <tr>
            <td> <%= product_category.name %> </td>
            <td> <%= product_category.description %> </td>
			<td>
				<%= render 'shared/default_page_button_edit', obj: product_category, edit_title: t('product_categories.index.button.edit') %>
			</td>
			<td>
				<%= render 'shared/default_page_button_delete', remove_text: t('product_categories.index.button.remove'), path_to_obj: product_category_path(product_category), confirm_text: t('general.confirm') %>
			</td>
        </tr>

    <% end %>

<% end %>