
<p>
	 <%= f.label :name %> * <br />
	 <%= f.text_field :name, :required => true %>
</p>
<p>
	 <%= f.label :description %> <br />
	 <%= f.text_area :description %>
</p>
<p>
	 <%= f.label t('product_categories.index.name') %> <br />
	 <%= collection_select(:product, :product_category_id, current_user.product_categories.all.sort_by {|f| f.name}, :id, :name, :include_blank => true, :default => nil) %>
</p>
<p>
	 <%= f.submit %>
</p>
