<%= render :layout => 'shared/default_page', :locals => { :translation_base => 'products.index', :obj1 => @new_product, :obj2 => @edit_product, :objs => @products, :path_to_form => 'products/form' } do %>

    <tr>
        <th><%= t 'products.index.name' %></th>
        <th><%= t 'products.index.description' %></th>
		<th><%= t 'products.index.category' %></th>
		<th></th>
		<th></th>
    </tr>

    <% @products.each do |product| %>
        <tr>
            <td> <%= product.name %> </td>
            <td> <%= product.description %> </td>
			<td>
				<% if product.product_category_id != nil %>
				<%= ProductCategory.find(product.product_category_id).name %>
				<% end %>
			</td>
			<td>
				<%= render 'shared/default_page_button_edit', obj: product, edit_title: t('products.index.button.edit') %>
			</td>
			<td>
				<%= render 'shared/default_page_button_delete', remove_text: t('products.index.button.remove'), path_to_obj: product_path(product), confirm_text: t('general.confirm') %>
			</td>
        </tr>
    <% end %>

<% end %>