<footer class="footer navbar navbar-fixed-bottom navbar-inverse">
	<div class="container">
	  <small>
	    <%= link_to t('site.title'), root_path %>&copy; <%= t('footer.by') %> <a href="#">J. Carlos V. F.</a>
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to t('footer.about'),   '#' %></li>
	      <li><%= link_to t('footer.news'),   '#' %></li>
	    </ul>
	  </nav>
  </div>
</footer>
