<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t('header.logo'), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('header.home'), root_path %></li>
      <% if logged_in? %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('header.pages') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('product_categories.index.title'), product_categories_path %></li>
              <li><%= link_to t('products.index.title'), products_path %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('header.account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('header.profile'), current_user %></li>
              <li><%= link_to t('header.settings'), '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t('header.logout'), logout_path, method: :delete %>
              </li>
            </ul>
          </li>

      <% else %>
          <li><%= link_to t('header.login'), login_path %></li>
          <li><%= link_to t('header.signup'), signup_path %></li>
      <% end %>

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('header.language') %> <b class="caret"></b>
      </a>

			<ul class="dropdown-menu">
				<li><%= link_to image_tag('usa_flag', :class => 'flag_locale', :alt => t('header.usa.alt')), url_for(:locale => 'en') %></li>
				<li><%= link_to image_tag('brazilian_flag', :class => 'flag_locale', :alt => t('header.brazilian.alt')), url_for(:locale => 'pt-BR')%></li>
			</ul>
		</li>

      </ul>
    </nav>
  </div>
</header>
